.Bdc\(gray\) {
  border-color: gray;
}
.Bdc\(novaThmBd\) {
  border-color: #0060b7;
}
.Bdc\(red\) {
  border-color: red;
}
.Bdc\(smbHdBg\), .Bdc\(smbThmBd\) {
  border-color: #5b8800;
}
.Bdw\(0\) {
  border-width: 0;
}
.Bdw\(0\.25em\) {
  border-width: 0.25em;
}
.Bdw\(0\.5em\) {
  border-width: 0.5em;
}
.Bdw\(0\.5px\) {
  border-width: 0.5px;
}
.Bdw\(1pt\) {
  border-width: 1pt;
}
.Bdw\(1px\), .Bdw\(wbBdw\) {
  border-width: 1px;
}
.Bdtw\(1px\), .Bdtw\(wbBdw\) {
  border-top-width: 1px;
}
.Bdendw\(1pt\) {
  border-right-width: 1pt;
}
.Bdendw\(wbBdw\) {
  border-right-width: 1px;
}
.Bdbw\(1px\), .Bdbw\(wbBdw\) {
  border-bottom-width: 1px;
}
.Bdstartw\(0\.5em\) {
  border-left-width: 0.5em;
}
.Bdstartw\(1pt\) {
  border-left-width: 1pt;
}
.Bdstartw\(wbBdw\) {
  border-left-width: 1px;
}
.Bdrs\(2em\) {
  border-radius: 2em;
}
.Bdrsbend\(10px\) {
  border-bottom-right-radius: 10px;
}
.Bdrsbstart\(10px\) {
  border-bottom-left-radius: 10px;
}
.Bgc\(\#000000\.6\) {
  background-color: rgba(0,0,0,.6);
}
.Bgc\(\#c6daad\) {
  background-color: #c6daad;
}
.Bgc\(\#cc9900\), .notesToggles-counselor .notesToggles-counselor_Bgc\(smbTabBg\), .notesToggles-inPerson .notesToggles-inPerson_Bgc\(smbTabBg\), .notesToggles-none .notesToggles-none_Bgc\(smbTabBg\), .notesToggles-online .notesToggles-online_Bgc\(smbTabBg\) {
  background-color: #cc9900;
}
.Bgc\(\#ccffff\) {
  background-color: #ccffff;
}
.Bgc\(akBtnBg\), .Bgc\(akHdBg\) {
  background-color: #01743d;
}
.Bgc\(akHd2Bg\) {
  background-color: #f0c810;
}
.Bgc\(akPgBg\), .Bgc\(cbkPgBg\), .Bgc\(novaPgBg\), .Bgc\(smbPgBg\), .Bgc\(sssHd2Bg\), .Bgc\(sssHdBg\), .Bgc\(sssPgBg\) {
  background-color: #ffffff;
}
.Bgc\(akPgMBg\), .Bgc\(cbkPgMBg\), .Bgc\(novaPgMBg\), .Bgc\(smbPgMBg\) {
  background-color: #000000;
}
.Bgc\(black\) {
  background-color: black;
}
.Bgc\(cbkBtnBg\), .Bgc\(cbkHdBg\) {
  background-color: #016ca2;
}
.Bgc\(cbkHd2Bg\) {
  background-color: #29a1c6;
}
.Bgc\(gold\) {
  background-color: gold;
}
.Bgc\(novaBtnBg\), .Bgc\(novaHdBg\) {
  background-color: #0060b7;
}
.Bgc\(novaHd2Bg\) {
  background-color: #50d7f7;
}
.Bgc\(smbAccBg\) {
  background-color: #ffff99;
}
.Bgc\(smbBtnBg\), .Bgc\(smbHdBg\) {
  background-color: #5b8800;
}
.Bgc\(smbHd2Bg\) {
  background-color: #a4c57c;
}
.Bgc\(sssBtnBg\) {
  background-color: #062a5e;
}
.Bgc\(sssPgMBg\) {
  background-color: #006599;
}
.Bgc\(white\) {
  background-color: white;
}
.Bgc\(smbAccBg\)\:h:hover {
  background-color: #ffff99;
}
.C\(\#999999\) {
  color: #999999;
}
.C\(\#cc9900\) {
  color: #cc9900;
}
.C\(akBtnTx\), .C\(akBtnTx2\), .C\(akHdTx\), .C\(cbkBtnTx\), .C\(cbkBtnTx2\), .C\(cbkHdTx\), .C\(novaHd2Tx\), .C\(smbBtnTx\), .C\(smbHd2Tx\), .C\(smbHdTx\), .C\(sssBtnTx\) {
  color: #ffffff;
}
.C\(black\) {
  color: black;
}
.C\(blue\) {
  color: blue;
}
.C\(gold\) {
  color: gold;
}
.C\(inh\) {
  color: inherit;
}
.C\(novaBtnTx\), .C\(novaHdTx\) {
  color: #fd9600;
}
.C\(novaBtnTx2\), .C\(sssBtnTx2\) {
  color: #bbbbbb;
}
.C\(novaThmTx\) {
  color: #0060b7;
}
.C\(red\) {
  color: red;
}
.C\(smbBtnTx2\) {
  color: #000000;
}
.C\(smbThmTx\) {
  color: #5b8800;
}
.C\(sssHdTx\) {
  color: #062a5e;
}
.C\(white\) {
  color: white;
}
.D\(b\), .notesToggles-counselor .notesToggles-counselor_D\(b\), .notesToggles-inPerson .notesToggles-inPerson_D\(b\), .notesToggles-online .notesToggles-online_D\(b\), .open .open_D\(b\) {
  display: block;
}
.D\(f\) {
  display: flex;
}
.D\(ib\), .Row {
  display: inline-block;
}
.D\(n\), .open .open_D\(n\) {
  display: none;
}
.D\(tb\) {
  display: table;
}
.D\(tbc\) {
  display: table-cell;
}
.Fxg\(0\) {
  flex-grow: 0;
}
.Fxs\(0\) {
  flex-shrink: 0;
}
.Fxb\(2\) {
  flex-basis: 2;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Fxd\(rr\) {
  flex-direction: row-reverse;
}
.Ai\(b\) {
  align-items: baseline;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(st\) {
  align-items: stretch;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Jc\(se\) {
  justify-content: space-evenly;
}
.Flw\(w\), .Fxw\(w\) {
  flex-wrap: wrap;
}
.Fl\(end\) {
  float: right;
}
.Fw\(b\), .notesToggles-counselor .notesToggles-counselor_Fw\(b\), .notesToggles-inPerson .notesToggles-inPerson_Fw\(b\), .notesToggles-none .notesToggles-none_Fw\(b\), .notesToggles-online .notesToggles-online_Fw\(b\) {
  font-weight: bold;
}
.Fw\(n\) {
  font-weight: normal;
}
.Fz\(0\.4em\) {
  font-size: 0.4em;
}
.Fz\(0\.8em\) {
  font-size: 0.8em;
}
.Fz\(1\.2em\), .Fz\(1\.2em\)--si {
  font-size: 1.2em;
}
.Fz\(1\.3em\) {
  font-size: 1.3em;
}
.Fz\(1\.5em\) {
  font-size: 1.5em;
}
.Fz\(1\.8em\) {
  font-size: 1.8em;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(2\.3em\) {
  font-size: 2.3em;
}
.Fz\(22px\) {
  font-size: 22px;
}
.Fz\(2em\) {
  font-size: 2em;
}
.Fz\(32px\) {
  font-size: 32px;
}
.Fz\(3em\) {
  font-size: 3em;
}
.Fs\(i\) {
  font-style: italic;
}
.H\(100\%\) {
  height: 100%;
}
.H\(1in\) {
  height: 1in;
}
.H\(218px\) {
  height: 218px;
}
.H\(2em\) {
  height: 2em;
}
.H\(315px\) {
  height: 315px;
}
.H\(480px\) {
  height: 480px;
}
.H\(a\) {
  height: auto;
}
.Lh\(wbLh\) {
  line-height: 1.2em;
}
.M\(0\) {
  margin: 0;
}
.M\(0\.5em\) {
  margin: 0.5em;
}
.M\(1em\) {
  margin: 1em;
}
.M\(a\) {
  margin: auto;
}
.Mx\(0\.4em\) {
  margin-left: 0.4em;
  margin-right: 0.4em;
}
.Mx\(2em\) {
  margin-left: 2em;
  margin-right: 2em;
}
.Mx\(2px\) {
  margin-left: 2px;
  margin-right: 2px;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.My\(0\.2em\) {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.My\(0\.3em\) {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.My\(0\.5em\), .Mt\(0\.5em\) {
  margin-top: 0.5em;
}
.My\(0\.5em\), .Mb\(0\.5em\) {
  margin-bottom: 0.5em;
}
.My\(0\.6em\), .Mt\(0\.6em\) {
  margin-top: 0.6em;
}
.My\(0\.6em\), .Mb\(0\.6em\) {
  margin-bottom: 0.6em;
}
.My\(1em\), .Mt\(1em\) {
  margin-top: 1em;
}
.My\(1em\), .Mb\(1em\) {
  margin-bottom: 1em;
}
.Mt\(0\.8em\) {
  margin-top: 0.8em;
}
.Mt\(0\.9em\) {
  margin-top: 0.9em;
}
.Mt\(16px\) {
  margin-top: 16px;
}
.Mt\(wbMt\) {
  margin-top: -1px;
}
.Mend\(0\.6em\) {
  margin-right: 0.6em;
}
.Mb\(0\.25em\) {
  margin-bottom: 0.25em;
}
.Mb\(0\.4em\) {
  margin-bottom: 0.4em;
}
.Mb\(0\.9em\) {
  margin-bottom: 0.9em;
}
.Mb\(20px\) {
  margin-bottom: 20px;
}
.Mb\(8px\) {
  margin-bottom: 8px;
}
.Mstart\(1em\) {
  margin-left: 1em;
}
.Mstart\(7em\) {
  margin-left: 7em;
}
.Mah\(50vh\) {
  max-height: 50vh;
}
.Maw\(100\%\) {
  max-width: 100%;
}
.Maw\(1002px\) {
  max-width: 1002px;
}
.Maw\(189px\) {
  max-width: 189px;
}
.Maw\(30\%\) {
  max-width: 30%;
}
.Maw\(450px\) {
  max-width: 450px;
}
.Maw\(650px\) {
  max-width: 650px;
}
.Mih\(105\.6px\) {
  min-height: 105.6px;
}
.Mih\(132px\) {
  min-height: 132px;
}
.Mih\(211\.2px\) {
  min-height: 211.2px;
}
.Mih\(264px\) {
  min-height: 264px;
}
.Mih\(316\.79999999999995px\) {
  min-height: 316.79999999999995px;
}
.Mih\(369\.59999999999997px\) {
  min-height: 369.59999999999997px;
}
.Mih\(396px\) {
  min-height: 396px;
}
.Mih\(422\.4px\) {
  min-height: 422.4px;
}
.Mih\(475\.2px\) {
  min-height: 475.2px;
}
.Mih\(52\.8px\) {
  min-height: 52.8px;
}
.Mih\(528px\) {
  min-height: 528px;
}
.Mih\(633\.5999999999999px\) {
  min-height: 633.5999999999999px;
}
.Mih\(79\.19999999999999px\) {
  min-height: 79.19999999999999px;
}
.T\(0\) {
  top: 0;
}
.End\(1\%\) {
  right: 1%;
}
.End\(30\%\) {
  right: 30%;
}
.Start\(100\%\) {
  left: 100%;
}
.Start\(30\%\) {
  left: 30%;
}
.Ovx\(h\) {
  overflow-x: hidden;
}
.P\(0\) {
  padding: 0;
}
.P\(0\.25em\), .P\(wbP\) {
  padding: 0.25em;
}
.P\(0\.2em\) {
  padding: 0.2em;
}
.P\(0\.4em\) {
  padding: 0.4em;
}
.P\(0\.6em\) {
  padding: 0.6em;
}
.P\(10px\) {
  padding: 10px;
}
.P\(15px\) {
  padding: 15px;
}
.P\(1em\) {
  padding: 1em;
}
.P\(20px\) {
  padding: 20px;
}
.P\(4px\) {
  padding: 4px;
}
.P\(5px\) {
  padding: 5px;
}
.P\(8px\) {
  padding: 8px;
}
.Px\(10px\) {
  padding-left: 10px;
  padding-right: 10px;
}
.Px\(1em\), .Pstart\(1em\) {
  padding-left: 1em;
}
.Px\(1em\), .Pend\(1em\) {
  padding-right: 1em;
}
.Px\(8px\) {
  padding-left: 8px;
  padding-right: 8px;
}
.Px\(wbP\) {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.Py\(1em\), .Pt\(1em\) {
  padding-top: 1em;
}
.Py\(1em\), .Pb\(1em\), .Pb\(smbReqP\) {
  padding-bottom: 1em;
}
.Py\(2px\) {
  padding-top: 2px;
  padding-bottom: 2px;
}
.Py\(6px\) {
  padding-top: 6px;
  padding-bottom: 6px;
}
.Pt\(0\.4em\) {
  padding-top: 0.4em;
}
.Pt\(12em\) {
  padding-top: 12em;
}
.Pt\(2\%\) {
  padding-top: 2%;
}
.Pt\(3em\) {
  padding-top: 3em;
}
.Pt\(4em\) {
  padding-top: 4em;
}
.Pt\(8em\) {
  padding-top: 8em;
}
.Pend\(0\.2em\) {
  padding-right: 0.2em;
}
.Pend\(3em\) {
  padding-right: 3em;
}
.Pb\(0\.6em\) {
  padding-bottom: 0.6em;
}
.Pb\(6em\) {
  padding-bottom: 6em;
}
.Pb\(wbP\) {
  padding-bottom: 0.25em;
}
.Pstart\(0px\) {
  padding-left: 0px;
}
.Pstart\(128px\) {
  padding-left: 128px;
}
.Pstart\(32px\) {
  padding-left: 32px;
}
.Pstart\(64px\) {
  padding-left: 64px;
}
.Pstart\(96px\) {
  padding-left: 96px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Rsz\(v\) {
  resize: vertical;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.Tt\(n\) {
  text-transform: none;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.Va\(m\) {
  vertical-align: middle;
}
.W\(0px\) {
  width: 0px;
}
.W\(10\%\) {
  width: 10%;
}
.W\(100\%\), .Row {
  width: 100%;
}
.W\(10px\) {
  width: 10px;
}
.W\(128px\) {
  width: 128px;
}
.W\(160px\) {
  width: 160px;
}
.W\(175px\) {
  width: 175px;
}
.W\(20\%\) {
  width: 20%;
}
.W\(2em\) {
  width: 2em;
}
.W\(30\%\) {
  width: 30%;
}
.W\(300px\) {
  width: 300px;
}
.W\(32px\) {
  width: 32px;
}
.W\(33\.3\%\) {
  width: 33.3%;
}
.W\(40\%\) {
  width: 40%;
}
.W\(50\%\) {
  width: 50%;
}
.W\(55\%\) {
  width: 55%;
}
.W\(60\%\) {
  width: 60%;
}
.W\(64px\) {
  width: 64px;
}
.W\(70\%\) {
  width: 70%;
}
.W\(7em\) {
  width: 7em;
}
.W\(80\%\) {
  width: 80%;
}
.W\(95\%\) {
  width: 95%;
}
.W\(96px\) {
  width: 96px;
}
.W\(a\) {
  width: auto;
}
.Fill\(akBtnBg\) {
  fill: #01743d;
}
.Fill\(cbkBtnBg\) {
  fill: #016ca2;
}
.Fill\(novaBtnBg\) {
  fill: #0060b7;
}
.Fill\(smbBtnBg\) {
  fill: #5b8800;
}
.Fill\(sssBtnBg\) {
  fill: #062a5e;
}
.Row {
  clear: both;
  vertical-align: top;
  box-sizing: border-box;
  *display: block;
  *width: auto;
  zoom: 1;
}
.Bi\(av\) {
  break-inside: avoid;
}
.Cc\(2\) {
  column-count: 2;
}
.Cc\(3\) {
  column-count: 3;
}
.Pbi\(av\) {
  page-break-inside: avoid;
}
@media screen and (max-width: 992px) {
  .D\(n\)--l {
    display: none;
  }
  .Fz\(1\.4em\)--l {
    font-size: 1.4em;
  }
  .Fz\(1\.6em\)--l {
    font-size: 1.6em;
  }
  .Fz\(1em\)--l {
    font-size: 1em;
  }
  .Fz\(24px\)--l {
    font-size: 24px;
  }
  .Fz\(2em\)--l {
    font-size: 2em;
  }
  .W\(25\%\)--l {
    width: 25%;
  }
  .Cc\(1\)--l {
    column-count: 1;
  }
  .Cc\(2\)--l {
    column-count: 2;
  }
}
@media screen and (max-width: 768px) {
  .Bdstartw\(0\.25em\)--m {
    border-left-width: 0.25em;
  }
  .D\(b\)--m {
    display: block;
  }
  .D\(n\)--m {
    display: none;
  }
  .Fxd\(c\)--m {
    flex-direction: column;
  }
  .Fxd\(cr\)--m {
    flex-direction: column-reverse;
  }
  .Ai\(c\)--m {
    align-items: center;
  }
  .Fz\(0\.9em\)--m {
    font-size: 0.9em;
  }
  .Fz\(1\.25em\)--m {
    font-size: 1.25em;
  }
  .Fz\(1\.2em\)--m {
    font-size: 1.2em;
  }
  .Fz\(1\.5em\)--m {
    font-size: 1.5em;
  }
  .Fz\(20px\)--m {
    font-size: 20px;
  }
  .H\(426px\)--m {
    height: 426px;
  }
  .Mx\(a\)--m {
    margin-left: auto;
    margin-right: auto;
  }
  .Mstart\(0\.5em\)--m {
    margin-left: 0.5em;
  }
  .Maw\(100\%\)--m {
    max-width: 100%;
  }
  .P\(6px\)--m {
    padding: 6px;
  }
  .Pstart\(0\.5em\)--m {
    padding-left: 0.5em;
  }
  .W\(30\%\)--m {
    width: 30%;
  }
  .W\(33\%\)--m {
    width: 33%;
  }
  .Cc\(2\)--m {
    column-count: 2;
  }
}
@media screen and (max-width: 575px) {
  .Bdw\(0\.25em\)--s {
    border-width: 0.25em;
  }
  .D\(b\)--s {
    display: block;
  }
  .D\(n\)--s {
    display: none;
  }
  .Fxd\(c\)--s {
    flex-direction: column;
  }
  .Fxd\(r\)--s {
    flex-direction: row;
  }
  .Fz\(0\.5em\)--s {
    font-size: 0.5em;
  }
  .Fz\(0\.8em\)--s {
    font-size: 0.8em;
  }
  .Fz\(1\.2em\)--s {
    font-size: 1.2em;
  }
  .Fz\(1\.4em\)--s {
    font-size: 1.4em;
  }
  .Fz\(16px\)--s {
    font-size: 16px;
  }
  .Fz\(1em\)--s {
    font-size: 1em;
  }
  .M\(0\.5em\)--s {
    margin: 0.5em;
  }
  .M\(a\)--s {
    margin: auto;
  }
  .Mx\(a\)--s {
    margin-left: auto;
    margin-right: auto;
  }
  .Maw\(30\%\)--s {
    max-width: 30%;
  }
  .P\(0\.5em\)--s {
    padding: 0.5em;
  }
  .Pt\(1em\)--s {
    padding-top: 1em;
  }
  .Pend\(0\.2em\)--s {
    padding-right: 0.2em;
  }
  .Tsh\(whiteGlow\)--s {
    text-shadow: -2px 0 2px white, 0 -2px 2px white, 2px 0 2px white, 0 2px 2px white;
  }
  .W\(100\%\)--s {
    width: 100%;
  }
  .W\(50\%\)--s {
    width: 50%;
  }
  .Cc\(1\)--s {
    column-count: 1;
  }
}
@media print {
  .Bgc\(t\)--p {
    background-color: transparent;
  }
  .D\(n\)--p {
    display: none;
  }
  .Fz\(1\.6em\)--p {
    font-size: 1.6em;
  }
  .Maw\(100\%\)--p {
    max-width: 100%;
  }
  .P\(0\)--p {
    padding: 0;
  }
}
