<img src="/images/smb-words.jpg" class="W(100%)">
<div class="D(f) Jc(sb)">
    <div class="W(30%)">
        <img src="/merit-badges/{{badge}}/bucky.jpg" class="W(100%)">
    </div>
    <div class="W(30%)">
        <img src="/merit-badges/{{badge}}/merit-badge.jpg" class="W(100%)">
    </div>
    <div class="Pos(a) T(0) Start(30%) End(30%) Fxd(c) Ai(c) D(f)">
        <div class="Ta(c) Tt(u) Fw(b) Fz(1.2em) Fz(1em)--m Fz(0.5em)--s Tsh(white-shadow)--s">Merit Badge Class</div>
        <div class="Mb(1em) D(f) Ai(c) Jc(c) H(100%) Ta(c) Fw(b) Fz(1.8em) Fz(1.4em)--m Fz(1em)--s Tt(u) Tsh(whiteGlow)--s">{{badge-name badge=badge}}</div>
    </div>
</div>
