{{>toggle-start open=open}}
{{badge-name badge=badge}}
{{>toggle-middle}}

<div class="D(f) Fxd(c)--m">
<div class="W(100%)">
{{>event-badge-header badge=badge}}
</div>

<div class="W(100%) Maw(30%) Maw(100%)--m Fxb(2)">
{{>event-date-time-location start=start end=end badge=badge}}
</div>
</div>

{{badge-name}} Merit Badge Requirements<br>
{{badge-name}} Class Preparation Page<br>
<hr>
Expectations of Scouts Attending Classes<br>
How to Fill Out a Blue Card<br>
Electronic Blue Card PDF


content content content content content content content content content content content content content content content content content content content content content

content content content content content content content content content content content content content content content content content content content content content

content content content content content content content content content content content content content content content content content content content content content

content content content content content content content content content content content content content content content content content content content content content

{{>toggle-end}}
