{{>toggle-start open=open}}
{{badge-name badge=badge}}
{{>toggle-middle}}

<div class="D(f) Fxd(c)--m">
<div class="W(100%)">
{{>event-badge-header badge=badge}}
</div>

<div class="W(100%) Maw(30%) Maw(100%)--m Fxb(2)">
{{>event-date-time-location start=start end=end badge=badge}}
</div>
</div>

<div class="D(f) Fxd(c)--m">
<div class="D(f) Fxd(c) M(0.5em)">
<a class="Td(n) Fs(i)" href="/merit-badges/{{badge}}/">{{badge-name badge=badge}} Requirements and Class Preparation</a>
<a class="Td(n) Fs(i)" href="/merit-badges/{{badge}}/workbook.pdf">{{badge-name badge=badge}} Workbook</a>
</div>
<div class="D(f) Fxd(c) M(0.5em)">
<a class="Td(n) Fs(i)" href="/general/expectations/">Expectations of Scouts Attending Classes</a>
<a class="Td(n) Fs(i)" href="/general/blue-card/">How to Fill Out a Blue Card</a>
<a class="Td(n) Fs(i)" href="/general/blue-card/blue-card.pdf">Electronic Blue Card PDF</a>
</div>
</div>

<iframe data-src="http://www.eventbrite.com/tickets-external?eid={{event}}&ref=etckt" frameborder="0" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" class="H(315px)"></iframe>

{{>toggle-end}}
