<div class="toggle">
<label class="D(f)">
<button class="open_D(n) M(0.2em) W(1.4em) Bdw(0.5px)" onclick="toggleClass(this, 'toggle', 'open')">+</button>
<button class="D(n) open_D(b) M(0.2em) W(1.4em) Bdw(0.5px)" onclick="toggleClass(this, 'toggle', 'open')">-</button>
{{badge-name badge=badge}}
</label>
<div class="D(n) open_D(b) Pstart(1em) My(1em) Mstart(1em) Bdstartw(0.5em) Bdc(gray)">

{{#startTime}}
<div class="D(f)">
<div class="W(100%)">
BADGE HEADER
</div>
<div class="W(100%) Maw(30%) Fxb(2)">
TIMES
</div>
</div>
{{/startTime}}
{{^startTime}}
<div class="W(100%)">
BADGE HEADER
</div>
{{/startTime}}

{{badge-name}} Merit Badge Requirements<br>
{{badge-name}} Class Preparation Page<br>
<hr>
Expectations of Scouts Attending Classes<br>
How to Fill Out a Blue Card<br>
Electronic Blue Card PDF


content content content content content content content content content content content content content content content content content content content content content

content content content content content content content content content content content content content content content content content content content content content

content content content content content content content content content content content content content content content content content content content content content

content content content content content content content content content content content content content content content content content content content content content

</div>
</div>
