---
import DefaultLayout from '~/layouts/default-layout.astro';
import MeritBadgeList from '~/components/merit-badge-list.astro';
import OtherAward from '~/components/other-award.astro';
import { getCollection } from 'astro:content';

const otherAwards = await getCollection('otherAwards');
otherAwards.sort((a, b) => {
    const nameA = a.data.name;
    const nameB = b.data.name;
    return nameA.localeCompare(nameB);
});
const awardIds = otherAwards.map((award) => award.id)
---

<DefaultLayout title="Other Scout Awards">
    <h1>Other Scout Awards</h1>

    <p>
        Beyond rank and merit badges, there are a number of other fun and
        interesting awards a Scout may earn. Some are quite easy, relative to
        merit badges and rank advancement, while others are extraordinarily
        difficult and time consuming.
    </p>

    <p>
        Shown here are some of these additional awards and recognitions a Scout
        may earn. Some of these are taken from the <strong
            >2025 Scouting America Requirements</strong
        > book, and are noted accordingly. Others are from National BSA communications
        and documentation.
    </p>

    <h2>List of Awards</h2>

    <MeritBadgeList>
        {awardIds.map((awardId) => <OtherAward award={awardId} />)}
    </MeritBadgeList>
</DefaultLayout>
