:root {
    --accentBackground: #ffff99;
    --buttonBackground: #454343;
    --buttonText: #fd9600;
    --buttonText2: #bbbbbb;
    --headingBackground: #454343;
    --heading2Background: #1c2b2b;
    --headingText: red;
    --heading2Text: #ffffff;
    --heading3Text: #454343;
    --pageBackground: #black;
    --pageMarginBackground: #000000;
    --tabBackground: #cc9900;
    --themeBorder: #454343;
    --themeText: #454343;
}
