{{>layout-header}}

        <link rel="stylesheet" href="{{@root.rootPath}}nova-lab/css/site.css" />
        <script src="{{@root.rootPath}}js/toggle-notes.js"></script>

        <title>{{>nova-or-supernova-title}}</title>

{{>nova-layout-body}}

            <div class="notesToggles">
{{#if hasNotes}}
                <div class="D(f) Jc(se) Ai(st) D(n)--p">
                    {{>top-down-tab short="Requirements" long="Requirements Only" type="none"}}
                    {{>top-down-tab short="Counselor" long="Counselor Notes" type="counselor"}}
                </div>
{{/if}}

                <div class="P(20px)">

{{#nova-transform-elements}}

        <h1 id="title">{{>nova-or-supernova-title}}</h1>

{{#if lastUpdate}}

<p><em>Based off requirements from {{lastUpdate}}.</em></p>

{{/if}}

{{{contents}}}

{{/nova-transform-elements}}

                </div>
            </div>

{{>nova-layout-footer}}
