{{>layout-header}}

        <link rel="stylesheet" href="{{@root.rootPath}}css/site.css" />
        <script src="{{@root.rootPath}}js/toggle-notes.js"></script>

{{#if workbook}}
        <title>Scoutmaster Bucky {{>badge-name badge=badge}} Merit Badge Workbook</title>
{{else}}
        <title>{{>badge-name badge=badge}} Merit Badge</title>
{{/if}}

{{>smb-layout-body}}

            <div class="P(0.4em) Bgc(smbHdBg) Jc(se) D(f) Fxd(c)--s Ai(c) D(n)--p Fw(b)">
                {{#unless requirements}}
                <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/" class="C(gold)">Merit Badge Requirements</a>
                {{/unless}}
                {{#unless workbook}}
                <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/workbook/" class="C(gold)">Merit Badge Workbook</a>
                {{/unless}}
                {{#unless history}}
                <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/history/" class="C(gold)">Merit Badge History</a>
                {{/unless}}
            </div>

            <div class="notesToggles">
{{#if @root.requirements}}
                <div class="D(f) Jc(se) Ai(st) D(n)--p">
                    {{>top-down-tab short="Requirements" long="Requirements Only" type="none"}}
                    {{>top-down-tab short="In-Person Notes" long="In-Person Class Prep Notes" type="inPerson"}}
                    {{>top-down-tab short="Online Notes" long="Online Class Prep Notes" type="online"}}
                </div>
{{/if}}
                <div class="P(20px) P(0)--p">

{{#if @root.workbook}}
<div class="Bgc(smbHdBg) C(white) Fw(b) Tt(u) Ta(c) P(0.25em) Bdw(0.25em) Bdc(smbHdBg)">{{>badge-name badge=badge}} Merit Badge Workbook</div>
                    <div class="Bdstartw(1pt) Bdendw(1pt) C(#999999) Ta(c)">This Scoutmaster Bucky Merit Badge Workbook is based off the current <em>Scouts BSA Requirements</em>.</div>
                    <div class="Bdw(0.25em) Bdc(red) Bgc(smbAccBg) P(1em)">
                        <div class="Mb(1em) Ta(c) Fz(22px) D(n)--p">Type your work on this page or download the <a href="{{badge}}-workbook.pdf">{{>badge-name badge=badge}} Workbook PDF</a>.</div>

                        <p>Consider also using the {{>badge-name badge=badge}} merit badge class preparation page for clarification and expections when participating in a Scoutmaster Bucky merit badge opportunity (<a href="../?notes=online">online</a> or <a href="../?notes=inPerson">in-person</a>).</p>
                        <p class="Ta(c)"><a href="{{@root.site.url}}merit-badges/{{badge}}/">{{@root.site.url}}merit-badges/{{badge}}/</a></p>
                    </div>

                    <div class="Pt(1em) Bi(av)">
                        <div class="Bdw(1pt) P(0.25em)">
                            <div class="W(7em) Mt(0.5em) Pos(a)">
                                Scout's Name:
                            </div>
                            <div class="Mstart(7em) My(0.3em)">
                                <input class="Bgc(smbAccBg):h W(100%) Bdw(0) Fz(22px)" name="name" type="text" />
                            </div>
                        </div>
                    </div>
{{/if}}

{{#smb-transform-elements}}

{{#if @root.data.requirements}}
{{#if workbook}}
{{>smb-merit-badge-workbook}}
{{else}}
{{>smb-merit-badge-requirements}}
{{/if}}
{{else if @root.requirements}}
{{>smb-merit-badge-heading-requirements}}
{{{contents}}}
{{else}}
{{{contents}}}
{{/if}}

{{/smb-transform-elements}}

                </div>
            </div>

{{>smb-layout-footer}}
