---
import DefaultLayout from '~/layouts/default-layout.astro';
import MeritBadgeList from '~/components/merit-badge-list.astro';
import MeritBadge from '~/components/merit-badge.astro';
import ScaledContent from '~/components/scaled-content.astro';
import TileWrapper from '~/components/tile-wrapper.astro';
import Tile from '~/components/tile.astro';
import { getCollection } from 'astro:content';

const meritBadges = await getCollection('meritBadges');
---

<DefaultLayout title="Merit Badge Index">
    <h1>List of Merit Badges</h1>

    <p>
        Find information and resources on each of the
        {Object.keys(meritBadges).length} Scouts BSA merit badges offered by Scouting
        America.
    </p>

    <p>
        The links below direct to the specific merit badge and its requirements
        as well as links to resources like the Scoutmaster Bucky Merit Badge
        Workbook and Class Preparation Pages.
    </p>

    <h2>Merit Badge Index</h2>

    <MeritBadgeList>
        {
            Object.values(meritBadges).map(meritBadge => (
                <MeritBadge badge={meritBadge.id} />
            ))
        }
    </MeritBadgeList>
</DefaultLayout>
