---
import DefaultLayout from '~/layouts/default-layout.astro';
import MeritBadgeList from '~/components/merit-badge-list.astro';
import ScaledContent from '~/components/scaled-content.astro';
import ScoutRank from '~/components/scout-rank.astro';
import { getEntry } from 'astro:content';

const ranksInOrder = [
    'scout',
    'tenderfoot',
    'second-class',
    'first-class',
    'star',
    'life',
    'eagle',
];
const additionalPages = ['eagle-palms', 'alternative-requirements'];
const updatedDates = (await getEntry('updated', 'scout-ranks'))?.data;
const updatedDate = new Date(updatedDates.scout);
const updatedDateStr = updatedDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
});
---

<DefaultLayout title="Scout Ranks">
    <ScaledContent align="center">
        <img
            src="/scout-ranks/scout-ranks.jpg"
            alt="Scout Ranks"
            class="wide"
        />
    </ScaledContent>

    <p>
        The rank requirements shown here are verified and are official as of
        { updatedDateStr }. If a Scout has started work toward a rank before
        this date using requirements that were current before January 1, 2024,
        except as noted, they may complete that rank using the old requirements.
        Any progress toward a rank that starts after January 1, 2024, must use
        the requirements as they are shown on the respective rank pages here.
    </p>
    <p>
        The following are the ranks of Scouting. Click on the respective rank or
        rank insignia for the requirements a Scouts BSA member must achieve to
        attain the respective rank. While it is recommended and encouraged that
        Scouts complete their Scout rank exclusively, the requirements for
        Scout, Tenderfoot, Second Class, and First Class ranks may be worked on
        simultaneously; however these ranks must be earned in sequence.
    </p>

    <h2>List of Scout Ranks</h2>

    <MeritBadgeList>
        {ranksInOrder.map(rank => <ScoutRank rank={rank} />)}
    </MeritBadgeList>

    <h2>Additional Awards and Information</h2>

    <MeritBadgeList>
        {additionalPages.map(page => <ScoutRank rank={page} />)}
    </MeritBadgeList>
</DefaultLayout>
