:root {
    --accentBackground: #ffff99;
    --buttonBackground: #016ca2;
    --buttonText: #ffffff;
    --buttonText2: #ffffff;
    --headingBackground: #016ca2;
    --heading2Background: #29a1c6;
    --headingText: #ffffff;
    --heading2Text: #ffffff;
    --heading3Text: #016ca2;
    --pageBackground: #ffffff;
    --pageMarginBackground: #000000;
    --tabBackground: #cc9900;
    --themeBorder: #016ca2;
    --themeText: #016ca2;
}
