:root {
    --accentBackground: #ffff99;
    --buttonBackground: #062a5e;
    --buttonText: #ffffff;
    --buttonText2: #bbbbbb;
    --headingBackground: #ffffff;
    --heading2Background: #ffffff;
    --headingText: #062a5e;
    --heading2Text: #ffffff;
    --heading3Text: #062a5e;
    --pageBackground: #ffffff;
    --pageMarginBackground: #006599;
    --tabBackground: #cc9900;
    --themeBorder: #062a5e;
    --themeText: #062a5e;
}
