<script>
(function () {
    var id = 'countdown' + Math.random();
    var to = new Date('{{to}}');
    document.write('<span id="' + id + '"></span>');

    var interval = setInterval(function () {
        var e = document.getElementById(id);

        if (!e) {
            return;
        }

        var diff = to - Date.now();

        if (diff < 0) {
            e.innerHTML = "{{message}}";
            clearInterval(interval);
            return;
        }

        var s = Math.floor(diff / 1000);
        var m = Math.floor(s / 60);
        s = s % 60;
        var h = Math.floor(m / 60);
        m = m % 60;
        var d = Math.floor(h / 24);
        h = h % 24;

        out = [];

        if (d) {
            out.push(d + ' days');
        }

        if (d || h) {
            out.push(h + ' hours');
        }

        if (d || h || m) {
            out.push(m + ' minutes');
        }

        if (d || h || m || s) {
            out.push(s + ' seconds');
        }

        e.innerHTML = out.join(', ');
    }, 1000);
})();
</script>
