{{>event-calendar-entry title="Scoutmaster Bucky Online" subtitle=title color="gold"}}

<div class="P(15px) P(6px)--m Bgc(#cc9900) Mb(20px)">
<div class="Bgc(white) P(10px)">

{{>event-banner eventColor="#cc9900"}}

<div class="D(f) Fxd(cr)--m">
<div class="W(100%)">
<div class="W(80%) M(a)">
<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     width="100%"
     height="auto"
     viewbox="0 0 575 262"
>
    <image
        xlink:href="{{@root.rootPath}}images/smb-online-logo2.jpg"
        x="0"
        y="0"
        width="575"
        height="262"
    />
    {{#if badge2}}
    <a href="{{@root.rootPath}}merit-badges/{{badge}}/">
        <image
            xlink:href="{{@root.rootPath}}{{#with (lookup @root.meritBadges badge)}}{{image}}{{/with}}"
            x="170"
            y="135"
            width="90"
            height="90"
        />
    </a>
    <a href="{{@root.rootPath}}merit-badges/{{badge2}}/">
        <image
            xlink:href="{{@root.rootPath}}{{#with (lookup @root.meritBadges badge2)}}{{image}}{{/with}}"
            x="221"
            y="135"
            width="90"
            height="90"
        />
    </a>
    {{else}}
    <a href="{{@root.rootPath}}merit-badges/{{badge}}/">
        <image
            xlink:href="{{@root.rootPath}}{{#with (lookup @root.meritBadges badge)}}{{image}}{{/with}}"
            x="208"
            y="135"
            width="100"
            height="100"
        />
    </a>
    {{/if}}
</svg>
</div>
</div>

<div class="W(100%) Maw(30%) Maw(100%)--m Fxb(2)">

{{>event-date-time-location start=eventDateStart end=eventDateEnd}}

<div class="D(f) Jc(c) Py(10px)">
<a href="https://www.eventbrite.com/e/registration-{{eventBriteEventId}}" rel="noopener noreferrer" target="_blank">
<button type="button" class="P(1em) Bgc(#ff8100) Fw(b) Bdrs(10px)">Get Tickets</button>
</a>
</div>

{{#if onSaleDate}}
<script>onSaleDate('{{#date format='iso'}}{{onSaleDate}}{{/date}}');</script>
{{/if}}

</div>
</div>

{{>eventbrite-merit-badge-links badge=badge}}
{{#if badge2}}
{{>eventbrite-merit-badge-links badge=badge2}}
{{/if}}

</div>
</div>
