{{>event-calendar-entry title="Scoutmaster Bucky Online" subtitle=title color="gold"}}

<div class="P(15px) P(6px)--m Bgc(#cc9900) Mb(20px)">
<div class="Bgc(white) P(10px)">

{{>event-banner eventColor="#cc9900"}}

<div class="D(f) Jc(c)">
<img src="{{@root.rootPath}}images/smb-online-logo.jpg" alt="Scoutmaster Bucky Online" class="Maw(650px) W(100%) H(a)" width="650" height="258" />
</div>

The following merit badge is being offered as a part of the **Scoutmaster Bucky Online** program; helping to deliver program through today's online technology.

{{{contents}}}

</div>
</div>
