The following [STEM exploration topics]({{@root.rootPath}}nova-lab/venturing-and-sea-scouts-explorations/) are approved for earning the Venturer Supernova awards

<div class="Cc(3) Cc(2)--m Cc(1)--s Mt(0.8em)">

* Animal Science
* Archaeology
* Architecture
* Astronomy
* Chemistry
* Composite Materials
* Computers
* Dentistry
* Drafting
* Electricity
* Electronics
* Energy
* Engineering
* Farm Mechanics
* Geocaching
* Geology
* Medicine
* Nuclear Science
* Oceanography
* Plant Science
* Pulp and Paper
* Radio
* Robotics
* Scholarship
* Scuba Diving
* Space Exploration
* Surveying
* Veterinary Medicine
* Weather
* Welding

</div>
