The following are the merit badges approved for use in earning the Scouts BSA Supernova awards.

<div class="Cc(3) Cc(2)--m Cc(1)--s Mt(0.8em)">

* {{#trim}}{{>badge-link badge="animal-science"}}{{/trim}}
* {{#trim}}{{>badge-link badge="archaeology"}}{{/trim}}
* {{#trim}}{{>badge-link badge="architecture"}}{{/trim}}
* {{#trim}}{{>badge-link badge="astronomy"}}{{/trim}}
* {{#trim}}{{>badge-link badge="automotive-maintenance"}}{{/trim}}
* {{#trim}}{{>badge-link badge="aviation"}}{{/trim}}
* {{#trim}}{{>badge-link badge="bird-study"}}{{/trim}}
* {{#trim}}{{>badge-link badge="chemistry"}}{{/trim}}
* {{#trim}}{{>badge-link badge="composite-materials"}}{{/trim}}
* {{#trim}}{{>badge-link badge="dentistry"}}{{/trim}}
* {{#trim}}{{>badge-link badge="digital-technology"}}{{/trim}}
* {{#trim}}{{>badge-link badge="drafting"}}{{/trim}}
* {{#trim}}{{>badge-link badge="electricity"}}{{/trim}}
* {{#trim}}{{>badge-link badge="electronics"}}{{/trim}}
* {{#trim}}{{>badge-link badge="energy"}}{{/trim}}
* {{#trim}}{{>badge-link badge="engineering"}}{{/trim}}
* {{#trim}}{{>badge-link badge="environmental-science"}}{{/trim}}
* {{#trim}}{{>badge-link badge="farm-mechanics"}}{{/trim}}
* {{#trim}}{{>badge-link badge="fish-and-wildlife-management"}}{{/trim}}
* {{#trim}}{{>badge-link badge="forestry"}}{{/trim}}
* {{#trim}}{{>badge-link badge="game-design"}}{{/trim}}
* {{#trim}}{{>badge-link badge="gardening"}}{{/trim}}
* {{#trim}}{{>badge-link badge="geocaching"}}{{/trim}}
* {{#trim}}{{>badge-link badge="geology"}}{{/trim}}
* {{#trim}}{{>badge-link badge="insect-study"}}{{/trim}}
* {{#trim}}{{>badge-link badge="inventing"}}{{/trim}}
* {{#trim}}{{>badge-link badge="mammal-study"}}{{/trim}}
* {{#trim}}{{>badge-link badge="medicine"}}{{/trim}}
* {{#trim}}{{>badge-link badge="mining-in-society"}}{{/trim}}
* {{#trim}}{{>badge-link badge="nature"}}{{/trim}}
* {{#trim}}{{>badge-link badge="nuclear-science"}}{{/trim}}
* {{#trim}}{{>badge-link badge="oceanography"}}{{/trim}}
* {{#trim}}{{>badge-link badge="plant-science"}}{{/trim}}
* {{#trim}}{{>badge-link badge="programming"}}{{/trim}}
* {{#trim}}{{>badge-link badge="pulp-and-paper"}}{{/trim}}
* {{#trim}}{{>badge-link badge="radio"}}{{/trim}}
* {{#trim}}{{>badge-link badge="reptile-and-amphibian-study"}}{{/trim}}
* {{#trim}}{{>badge-link badge="robotics"}}{{/trim}}
* {{#trim}}{{>badge-link badge="scuba-diving"}}{{/trim}}
* {{#trim}}{{>badge-link badge="signs-signals-and-codes"}}{{/trim}}
* {{#trim}}{{>badge-link badge="soil-and-water-conservation"}}{{/trim}}
* {{#trim}}{{>badge-link badge="space-exploration"}}{{/trim}}
* {{#trim}}{{>badge-link badge="surveying"}}{{/trim}}
* {{#trim}}{{>badge-link badge="sustainability"}}{{/trim}}
* {{#trim}}{{>badge-link badge="veterinary-medicine"}}{{/trim}}
* {{#trim}}{{>badge-link badge="weather"}}{{/trim}}
* {{#trim}}{{>badge-link badge="welding"}}{{/trim}}

</div>
