<tr class="Bdtw(1px) Bdc(gray)">
<td class="C(gray) P(0.5em)">{{row}}</td>
{{#if col2}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col3}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col4}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col5}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col6}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col7}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col8}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col9}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col10}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col11}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col12}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col13}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col14}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col15}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col16}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col17}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col18}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
{{#if col19}}<td class="P(0.5em) Bdstartw(1px) Bdc(gray)">&nbsp;</td>{{/if}}
</tr>
