:root {
    --accentBackground: #ffff99;
    --buttonBackground: #01743d;
    --buttonText: #ffffff;
    --buttonText2: #ffffff;
    --headingBackground: #01743d;
    --heading2Background: #f0c810;
    --headingText: #ffffff;
    --heading2Text: #ffffff;
    --heading3Text: #01743d;
    --pageBackground: #ffffff;
    --pageMarginBackground: #000000;
    --tabBackground: #cc9900;
    --themeBorder: #01743d;
    --themeText: #01743d;
}
