    </head>
    <body class="Ovx(h) Bgc(akPgMBg) Bgc(t)--p Ta(j)">
        <div class="Maw(1002px) Mx(a) Bgc(akPgBg) Bgc(t)--p Maw(100%)--p">
            <a href="{{@root.rootPath}}advisor-kodi/" class="D(b) Td(n)">
                <img src="{{@root.rootPath}}advisor-kodi/images/ak-header.jpg" class="W(100%) H(a) D(b)" height="279" width="1002">
            </a>

            <div class="Bgc(akHd2Bg) D(f) Jc(se) Pt(0.4em) D(n)--s Fz(0.9em)--m Flw(w) D(n)--p">
                {{>ak-menu class="Mb(0.4em) Bgc(akBtnBg)" textClass="C(akBtnTx)"}}
            </div>

            <div class="Bgc(akHd2Bg) D(f) Jc(se) D(n)--s Fz(0.9em)--m D(n)--p">
                {{>cross-link-buttons ak=true class="Mb(0.4em) Bgc(akBtnBg)" textClass="C(akBtnTx)" captionClass="C(akBtnTx2)"}}
            </div>
