<div class="W(20%)--_sml W(25%)--l W(33%)--m W(50%)--s D(f) Fxd(c) Ai(c) P(4px)">
    {{#if badge2}}
    {{>badge-image badge=badge badge2=badge2}}
    <p class="Fz(1.2em)--_s Fz(1em)--s Ta(c)">
        <a href="{{@root.rootPath}}merit-badges/{{badge}}/" class="Td(n)"
            >{{>badge-name badge=badge}}</a
        > and <a href="{{@root.rootPath}}merit-badges/{{badge2}}/" class="Td(n)"
            >{{>badge-name badge=badge2}}</a
        >
    </p>
    {{else}}
    {{>badge-image badge=badge}}
    <p class="Fz(1.2em)--_s Fz(1em)--s Ta(c)">
        <a href="{{@root.rootPath}}merit-badges/{{badge}}/" class="Td(n)"
            >{{>badge-name badge=badge}}</a
        >
    </p>
    {{/if}}
</div>
