    </head>
    <body class="Ovx(h) Bgc(cbkPgMBg)--_p Bgc(t)--p Ta(j)">
        <div class="Maw(1002px)--_p Mx(a) Bgc(cbkPgBg)--_p Bgc(t)--p Maw(100%)--p">
            <a href="{{@root.rootPath}}cubmaster-bob-katt/" class="D(b) Td(n)">
                <img src="{{@root.rootPath}}cubmaster-bob-katt/images/cbk-header.jpg" class="W(100%) H(a) D(b)" height="295" width="1002">
            </a>

            <div class="Bgc(cbkHd2Bg) D(f)--_s Jc(spe) Pt(0.4em) D(n)--s Fz(0.9em)--m Flw(w) body_D(n)--p">
                {{>cbk-menu class="Mb(0.4em) Bgc(cbkBtnBg)" textClass="C(cbkBtnTx)"}}
            </div>

            <div class="Bgc(cbkHd2Bg) D(f)--_s Jc(spe) D(n)--s Fz(0.9em)--m body_D(n)--p">
                {{>cross-link-buttons cbk=true class="Mb(0.4em) Bgc(cbkBtnBg)" textClass="C(cbkBtnTx)" captionClass="C(cbkBtnTx2)"}}
            </div>
