    </head>
    <body class="Ovx(h) Bgc(--pageMarginBackground)--_p Bgc(t)--p Ta(j)--_sml dnd C(white) body">
        <div class="Maw(1002px)--_p Mx(a) Bgc(--pageBackground)--_p Bgc(t)--p Maw(100%)--p">
            <a href="{{@root.rootPath}}dnd/" class="D(f) Jc(c) Ai(c) Td(n)">
                <img src="{{@root.rootPath}}dnd/bucky-guild.png" class="W(a) H(10em) D(b)">
            </a>

            <div class="Bgc(--heading2Background) D(f)--_s Jc(spe) Pt(0.4em) D(n)--s Fz(0.9em)--m Flw(w) body_D(n)--p">
                <div class="Jc(c) Ai(c) D(f) C(--headingText) Fz(1.5em)--_sml body_Fz(1.6em)--p Fz(1.6em)--l Fz(1.1em)--m Fz(0.8em)--s">
                    <div class="Bgc(#000000.6) Bdrs(2em) D(f) Fxd(c) Ai(c) P(0.2em)">
                        <div class="Fz(3em) Fw(b)">Dungeons &amp; Dragons</div>
                    </div>
                </div>
            </div>

            <div class="D(f) Ai(c) Jc(c)">
                <div>Hosted by <a href="{{@root.rootPath}}" class="C(red)">Scoutmaster Bucky</a></div>
            </div>
