{{#if host}}
<div
    class="D(f) Jc(c) Tt(u) C(red) Ta(c) Fw(b) Fz(32px)--_sml Fz(24px)--l Fz(20px)--m Fz(16px)--s"
>
    {{host}}
</div>
{{/if}} {{#if eventDateStart}}
<div
    class="D(f) Jc(c) Tt(u) C({{eventColor}}) Ta(c) Fw(b) Fz(32px)--_sml Fz(24px)--l Fz(20px)--m Fz(16px)--s"
>
    {{#date format="EEEE, MMMM d, y"}}{{eventDateStart}}{{/date}}<br />{{#date
    format="h:mm a"}}{{eventDateStart}}{{/date}}{{#if eventDateEnd}} - {{#date
    format="h:mm a"}}{{eventDateEnd}}{{/date}}{{/if}} Central
</div>
{{/if}} {{#if onSaleDate}}
<script>
    onSaleDate('{{#date format='iso'}}{{onSaleDate}}{{/date}}');
</script>
{{/if}}
<div
    class="D(f) Jc(c) Tt(u) C(red) Ta(c) Fw(b) Fz(32px)--_sml Fz(24px)--l Fz(20px)--m Fz(16px)--s"
>
    {{title}}
</div>
{{#if location}}
<div class="D(f) Fxd(c) Ai(c) Tt(u) C({{eventColor}}) Ta(c) Fw(b)">
    {{#location}}
    <div>{{.}}</div>
    {{/location}}
</div>
{{/if}}
