{{#unless hidden}}
<div class="W(33%)--_sml W(50%)--ml W(100%)--s P(0.5em)">
    <a href="/events/{{#change-md-to-html}}{{ancestry.basename}}{{/change-md-to-html}}" class="Td(n) C(in)">
        <div
            class="Bds(s) Bdw(2px) Bdrs(1em) P(0.5em) Bdc(--headingBackground):h Bdc(--heading2Background) Bgc(--accentBackground):h Ov(h)"
        >
            <div class="D(f) Jc(spa) Fxd(rre)">
                <div class="H(76.5px) D(f) Fxd(c) Jc(c) Ai(c)">
                    {{#unless online}}
                    <div class="D(f) Ai(c) Jc(c)">
                        <img src="/images/map-pin.svg" class="Mah(1.8em)" />
                        <span class="Fz(0.8em) Fw(b) Mstart(0.5em)">
                            In-Person
                        </span>
                    </div>
                    {{/unless}}
                    {{#if hideTimes}}
                    {{#if multipleDays}}
                    {{#date format="MMM d"}}{{event.eventDateStart}}{{/date}} -
                    {{#date format="MMM d"}}{{event.eventDateEnd}}{{/date}}
                    {{/if}}
                    {{else}}
                    <div class="Fz(1.4em)">
                        {{#date format="h:mm a"}}{{event.eventDateStart}}{{/date}}
                    </div>
                    {{/if}}
                    {{#if online}}
                    <div class="Fz(0.8em)">
                        Central
                    </div>
                    {{/if}}
                    <script>
                        eventTileTime("{{#date format="iso-local"}}{{event.eventDateStart}}{{/date}}")
                    </script>
                </div>
                {{>calendar-day eventDate=event.eventDateStart}}
                <div class="W(76.5px) H(76.5px)">
                    {{#if badge}}
                        {{>badge-image noLink=true}}
                    {{else}}
                        {{#if icon}}
                            <img src="{{icon}}" class="Mah(100%) Maw(100%)" />
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            {{#if online}}
            <div class="Pos(a) T(-25px) Start(-35px) Trfo(b,r) W(140px) O(0.5) Ov(h) Ta(c) Bgc(--tabBackground) Rotate(-35deg) Fw(b) Fz(0.8em) Pt(0.2em)">
                ONLINE
            </div>
            {{/if}}
            <div class="Ta(c) Fz(1.4em) Pt(10px)">{{event.title}}</div>
            {{#if subtitle}}
            <div class="Ta(c)">{{event.subtitle}}</div>
            {{/if}}
        </div>
    </a>
</div>
{{/unless}}
