{{#unless hidden}}
<div class="W(33%)--_sml W(50%)--ml W(100%)--s P(0.5em)">
    <a href="/events/{{#change-md-to-html}}{{ancestry.basename}}{{/change-md-to-html}}" class="Td(n) C(in)">
        <div
            class="Bds(s) Bdw(2px) Bdrs(1em) P(0.5em) Bdc(--headingBackground):h Bdc(--heading2Background) Bgc(--accentBackground):h"
        >
            <div class="D(f) Jc(spa) Fxd(rre)">
                <div class="H(76.5px) D(f) Fxd(c) Jc(c) Ai(c)">
                    <div class="Fz(1.4em)">
                        {{#date format="h:mm a"}}{{event.eventDateStart}}{{/date}}
                    </div>
                    {{#if online}}
                    <div class="Fz(0.8em)">
                        Central
                    </div>
                    {{/if}}
                    <script>
                        eventTileTime("{{#date format="iso-local"}}{{event.eventDateStart}}{{/date}}")
                    </script>
                </div>
                {{>calendar-day eventDate=event.eventDateStart}}
                <div class="W(76.5px) H(76.5px)">
                    {{#if badge}}
                        {{>badge-image noLink=true}}
                    {{else}}
                        {{#if icon}}
                            <img src="{{icon}}" class="Mah(100%) Maw(100%)" />
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="Ta(c) Fz(1.4em) Pt(10px)">{{event.title}}</div>
        </div>
    </a>
</div>
{{/unless}}
