<div>
    <h1 id="prepare" name="prepare">
        In-Person Class Preparation Notes
    </h1>
</div>

    <p>
        Please be courteous and arrive early for registration and instructions <em>PRIOR</em> to your scheduled class start time.  Remember that your Scout uniform is required to be worn when attending.
    </p>

    <p>
        It is <em>NOT</em> acceptable to come unprepared to a Scoutmaster Bucky event.  You can (and should) use the <a href="{{@root.rootPath}}merit-badges/{{badge}}/workbook/">Scoutmaster Bucky {{>badge-name badge=badge}} Merit Badge Workbook</a> to help organize your preparation work.  Please note that the use of any workbook is merely for note taking and reference. Completion of any merit badge workbook does not warrant, guarantee, or confirm a Scout's completion of any merit badge requirements. Merit badge counselors may refuse to accept workbooks, but they are <em>NEVER</em> allowed to require their use.
    </p>

    <p>
        The merit badge pamphlet has a wealth of information that provides valuable insight and clarification and can make earning any merit badge a lot easier.  Doing preparation work and reviewing the merit badge pamphlet PRIOR to attending will ensure that Scouts get the most out of these class opportunities.
    </p>

    <p>
        If you have any additional questions or need further clarification, please feel free to contact Brian Reiners (Scoutmaster Bucky) via email at <a href="mailto:scoutmasterbucky@yahoo.com">scoutmasterbucky@yahoo.com</a> or via cell phone at 612-483-0665.
    </p>

    <p>Things to remember to bring for this merit badge class:</p>

    <ul class="My(0.5em)">
        <li class="My(0.5em)">
            Your BSA ID # (not your Scoutbook ID #)
        </li>
        <li class="My(0.5em)">
            If you do not have your BSA ID # (or did not provide it with your online registration)
            you will need a Merit badge blue card properly filled out and signed off by your Scout Leader
        </li>
        <li class="My(0.5em)">
            {{>badge-name badge=badge}} Merit Badge Pamphlet
        </li>
        <li class="My(0.5em)">Scout uniform</li>
        <li class="My(0.5em)">
            Supporting documentation or project work pertinent to the
            {{>badge-name badge=badge}} merit badge, which may also include a
            <a href="{{@root.rootPath}}merit-badges/{{badge}}/workbook/"
                >merit badge workbook</a
            >
            for reference with notes
        </li>
        {{#whatToBring}}
        <li class="My(0.5em)">{{{.}}}</li>
        {{/whatToBring}}
        <li class="My(0.5em)">A positive Scouting focus and attitude</li>
    </ul>

    <p>
        If you are unfamiliar with the Blue Card Process, please read and understand the
        <a href="{{@root.rootPath}}blue-card-process/"
            >Scoutmaster Bucky Blue Card Process</a
        >.
    </p>

    <p class="C(red) Fw(b)">
        Pay careful attention to the action verbs within the requirements. An example to note:
    </p>

    <p class="C(red) Fw(b)">
        "Tell", "explain", "describe", and "discuss" are commonly used and will require the Scout to perform these actions during the class. When these action verbs are a part of any requirement, Scouts are expected to be prepared to share. Reading responses is not acceptable since it does not fulfill the requirement of showing the Scout's knowledge and understanding.
    </p>
