        </div>
        <div class="Maw(1002px) Mx(a) D(n)--p">
            <div>
                <img src="{{@root.rootPath}}nova-lab/images/nova-footer.jpg" class="W(100%) H(a)" height="153" width="1280">
            </div>
            <div class="Pos(a) T(0) D(f) W(100%) H(100%) nova C(novaHdTx) Jc(c) Ai(c) Fw(b) Fz(2.3em)--_sml Fz(2em)--l Fz(1.5em)--m Fz(1em)--s">
                Science, Technology, Engineering, Math
            </div>
        </div>
        <div id="menu" class="Bgc(novaHd2Bg) Pos(f) T(0) D(n)--_s D(b)--s C(novaBtnTx) P(8px) body_D(n)--p">
            <a class="Pos(a) T(0) Start(100%) D(n)--_s D(b)--s Bgc(novaHd2Bg) P(8px)"
                onclick="document.getElementById('menu').classList.toggle('flyout')"
                href="#">
                {{>hamburger-menu class="Fill(novaBtnBg)"}}
            </a>

            {{>nova-menu class="Mb(8px) Bgc(novaBtnBg)" textClass="C(novaBtnTx)"}}

            <div class="Mt(16px)"></div>

            {{>cross-link-buttons nova=true class="Bgc(novaBtnBg) Mb(8px)" textClass="C(novaBtnTx)" captionClass="C(novaBtnTx2)"}}
        </div>
    </body>
</html>
