    </head>
    <body class="Ovx(h) Bgc(sssPgMBg) Bgc(t)--p Ta(j)">
        <div class="Maw(1002px) Mx(a) Bgc(sssPgBg) Bgc(t)--p Maw(100%)--p">
            <a href="{{@root.rootPath}}ss-seagal/" class="D(b) Td(n)">
                <img src="{{@root.rootPath}}ss-seagal/images/sss-header.jpg" class="W(100%) H(a) D(b)" height="295" width="1002">
            </a>

            <div class="Bgc(sssHd2Bg) D(f) Jc(se) Pt(0.4em) D(n)--s Fz(0.9em)--m Flw(w) D(n)--p">
                {{>sss-menu class="Mb(0.4em) Bgc(sssBtnBg)" textClass="C(sssBtnTx)"}}
            </div>

            <div class="Bgc(sssHd2Bg) D(f) Jc(se) D(n)--s Fz(0.9em)--m D(n)--p">
                {{>cross-link-buttons sss=true class="Mb(0.4em) Bgc(sssBtnBg)" textClass="C(sssBtnTx)" captionClass="C(sssBtnTx2)"}}
            </div>
