<a class="Td(n) D(f) Mx(2px) C(inh)" onclick="setNotesToggles('{{type}}'); return false" href="#">
    <div
        class="Fxg(0) Fxs(0) W(10px) Bdbstartrs(10px) Bgc(gold) notesToggles-{{type}}_Bgc(--tabBackground)"
    ></div>
    <div
        class="D(n)--sm Bgc(gold) Ta(c) Py(2px) notesToggles-{{type}}_Bgc(--tabBackground) notesToggles-{{type}}_Fw(b)"
    >
        {{long}}
    </div>
    <div
        class="D(n)--_sm D(b)--sm Bgc(gold) Ta(c) Py(2px) notesToggles-{{type}}_Bgc(--tabBackground) notesToggles-{{type}}_Fw(b)"
    >
        {{short}}
    </div>
    <div
        class="Fxg(0) Fxs(0) W(10px) Bdbendrs(10px) Bgc(gold) notesToggles-{{type}}_Bgc(--tabBackground)"
    ></div>
</a>
