<div class="Mt(wbMt) Bdw(wbBdw) Bki(av) Pgbi(av) Lh(wbLh) P(1em) Fz(0.8em)">
    <div class="D(tb) W(100%)">
        <div class="D(tbc) Va(m) W(60%) Pt(3em) Pend(3em)">
            <div class="Bdtw(1px)">{{signator}} Name</div>
        </div>
        <div class="D(tbc) Va(m) W(40%) Pt(3em)">
            <div class="Bdtw(1px)">Phone</div>
        </div>
    </div>
    <div class="D(tb) W(100%)">
        <div class="D(tbc) Va(m) W(60%) Pt(4em) Pend(3em)">
            <div class="Bdtw(1px)">{{signator}} Signature</div>
        </div>
        <div class="D(tbc) Va(m) W(30%) Pt(4em) Pend(3em)">
            <div class="Bdtw(1px)">Date</div>
        </div>
        <div class="D(tbc) Va(m) W(10%)">
            <div class="Bdw(1px) Mx(a) W(2em) H(2em) Mb(0.5em)"></div>
            <div class="Ta(c)">{{checkbox}}</div>
        </div>
    </div>
</div>
