<h3 id="about-workbooks">About Merit Badge Workbooks</h3>

<p>Merit Badge Workbooks are meant only as a tool to aid Scouts with their work
preparation. They are a useful place to record information and to keep the
notes organized. BSA discourages but doesn’t ban the use of any merit badge
worksheets or workbooks. Merit badge counselors must never require the use of
merit badge worksheets or workbooks and counselors reserve the right to refuse
to accept them.</p>

<p>"Tell", "Explain", "Describe", and "Discuss" are commonly used action verbs
and will require Scouts to perform these actions. When these action verbs are a
part of any requirement, Scouts are expected to be prepared to share and
interact accordingly. Reading responses is not acceptable since it does not
fulfill the requirement of showing the Scout’s knowledge and understanding. Pay
close attention and prepare based on the utilized action verb(s) in the
requirements.</p>

<p>It should be noted that while "A Scout is trustworthy", ensure you have
adequate proof of completion for any requirements done in advance. Photos,
documentation, signatures, ticket stubs, videos, and screenshots could all
qualify. Simply saying one has done something likely will not be enough for
most counselors to sign off on a requirement.</p>

<h1 id="workbook-header">{{>badge-name}} Merit Badge Workbook</h1>

{{#if workbookMultipleOptionsMessage}}
<p>The {{>badge-name}} workbook has been split into individual options. Only one option is required in order to earn the merit badge.</p>
{{/if}}

<ul>
{{#each downloads}}
<li><a href="{{url}}">{{name}}</a>
{{/each}}
</ul>
