<div class="Bgc(smbHd2Bg) Bdw(1px) P(wbP) Bki(av) Pgbi(av)">
<div>
{{! Does not use the text partial because that wraps content in <p> and we want
    to prepend the "Requirement" label in front of the text. !}}
{{#if markdown}}
{{#markdown}}
<span class="Fw(b) Tt(u)">Requirement {{#parents}}{{requirement}} {{/parents}}{{requirement}}:</span> {{{text}}}
{{/markdown}}
{{else}}
<span class="Fw(b) Tt(u)">Requirement {{#parents}}{{requirement}} {{/parents}}{{requirement}}:</span> {{text}}
{{/if}}
</div>
</div>
