---
interface Props {
    code: string;
    ratio: string;
}

const { code, ratio } = Astro.props;
---

<div class="wrapper">
    <iframe
        src="https://www.youtube.com/embed/{code}?modestbranding=1&rel=0"
        style="aspect-ratio: {ratio}"
        class="wide"
        frameborder="0"
        allowfullscreen
    ></iframe>
</div>

<style>
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
}

@media (min-width: 768.0001px) and (max-width: 1002px) {
    .wrapper {
        max-width: 30%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 100%;
    }
}
</style>
