---
import ScaledContent from './scaled-content.astro';
import { getEntry } from 'astro:content';

interface Props {
    award: string;
}

const { award } = Astro.props as Props;
const awardInfo = (await getEntry('otherAwards', award))?.data;
---

<ScaledContent>
    <a href={`/other-awards/${award}/`}
        ><img src={awardInfo.image} class="wide" /></a
    >
    <div class="name">
        <a href={`/other-awards/${award}/`}>{awardInfo.name}</a>
    </div>
</ScaledContent>

<style>
    .name {
        font-size: 1.2em;
        text-align: center;
    }

    @media (max-width: 480px) {
        .name {
            font-size: 1em;
        }
    }
</style>
