---
import { getEntry } from 'astro:content';

interface Props {
    award: string;
}

const { award } = Astro.props as Props;
const awardInfo = ((await getEntry('otherAwards', award)))?.data;
---

<div>
    <img src={awardInfo.bucky} class="wide" />
</div>

<style>
    div {
        display: flex;
        justify-content: center;
    }
</style>
