---
import scoutRanks from '~/data/scout-ranks.json';

interface Props {
    rank: string;
}

const { rank } = Astro.props;
---

<div>
    <img src={scoutRanks[rank].bucky} class="wide" />
</div>

<style>
    div {
        display: flex;
        justify-content: center;
    }
</style>
