---
import { getEntry } from 'astro:content';

interface Props {
    rank: string;
}

const { rank } = Astro.props;
const rankInfo = await getEntry('scout-ranks', rank);
---

<ScaledContent>
    <a href="/scout-ranks/{rank}/"
        ><img src={rankInfo.image} class="wide" /></a
    >
    <div class="name">
        <a href="/scout-ranks/{rank}/">{rankInfo.name}</a>
    </div>
</ScaledContent>

<style>
    a {
        text-decoration: none;
    }

    .name {
        font-size: 1.2em;
        text-align: center;
    }

    @media (max-width: 480px) {
        .name {
            font-size: 1em;
        }
    }
</style>
