---
import { getEntry } from 'astro:content';

interface Props {
    rank: string;
}

const { rank } = Astro.props;
const rankInfo = await getEntry('scoutRanks', rank);
---

<div>
    <img src={rankInfo.bucky} class="wide" />
</div>

<style>
    div {
        display: flex;
        justify-content: center;
    }
</style>
