---
import ScaledContent from './scaled-content.astro';

interface Props {
    news: object;
}

const { news } = Astro.props.fontmatter || Astro.props;
const newsArray = Array.isArray(news) ? news : [];
---

<div class="news-wrapper">
    <div class="bucky-image">
        <ScaledContent align="center" small={true}>
            <img src="/images/bucky-with-newspaper.png" class="wide" />
        </ScaledContent>
    </div>

    <div>
        {
            newsArray.map(item => (
                <div class="news-item">
                    <div class="news-new">NEW!</div>
                    <div>{item}</div>
                </div>
            ))
        }
    </div>
</div>

<style>
    .news-wrapper {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        display: flex;
    }

    .news-new {
        display: flex;
        color: var(--index-news-text-color);
        font-weight: bold;
        padding-right: 8px;
    }

    @media (min-width: 480.0001px) {
        .news-wrapper {
            flex-direction: row;
            gap: 2em;
        }
    }
</style>
