---
import Tile from './tile.astro';
import { getEntry } from 'astro:content';

interface Props {
    testLab: string;
}

const { testLab } = Astro.props;
const testLabInfo = await getEntry('testLabs', testLab);
---

<Tile>
    <a href="/test-labs/{testLab}/">
        <img src={testLabsInfo.image} alt={testLabsInfo.name} />
        <div>{testLabsInfo.name}</div>
    </a>
</Tile>

<style>
    a {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        text-decoration: none;
        color: inherit;
    }

    img {
        height: 55px;
        width: auto;
    }

    div {
        font-weight: bold;
        color: var(--smb-text-color);
    }
</style>
