<div><slot /></div>

<style>
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: stretch;
        text-align: initial;
    }
</style>
