<script setup lang="ts">
</script>

<template>
    <h2>Upcoming Events</h2>

    <TileWrapper>
        <Tile v-for="event in filtered">
            <upcoming-events></upcoming-events>
        </Tile>
    </TileWrapper>
</template>
