<div class="P(0.6em) Mb(0.4em) Mx(0.4em) {{class}}">
    <a href="{{@root.rootPath}}{{url}}" class="Td(n) D(f)">
        <div class="Pend(1em) D(n)--m">
            <img src="{{@root.rootPath}}{{image}}" width="{{width}}" height="{{height}}">
        </div>
        <div>
            <div class="{{textClass}} Fw(b) D(f) Jc(c)">
                {{text}}
            </div>
            <div class="{{captionClass}} D(f) Jc(c) Fz(0.8em) D(n)--m">
                {{caption}}
            </div>
        </div>
    </a>
</div>
