<a class="Td(n) D(f) Mx(2px) C(inh)" onclick="setNotesToggles('{{type}}'); return false" href="#">
    <div
        class="Fxg(0) Fxs(0) W(10px) Bdrsbstart(10px) Bgc(gold) notesToggles-{{type}}_Bgc(smbGold)"
    ></div>
    <div
        class="D(n)--m D(n)--s Bgc(gold) Ta(c) Py(2px) notesToggles-{{type}}_Bgc(smbGold) notesToggles-{{type}}_Fw(b)"
    >
        {{long}}
    </div>
    <div
        class="D(n) D(b)--m D(b)--s Bgc(gold) Ta(c) Py(2px) notesToggles-{{type}}_Bgc(smbGold) notesToggles-{{type}}_Fw(b)"
    >
        {{short}}
    </div>
    <div
        class="Fxg(0) Fxs(0) W(10px) Bdrsbend(10px) Bgc(gold) notesToggles-{{type}}_Bgc(smbGold)"
    ></div>
</a>
