<!DOCTYPE html>
<html lang="es" class="M(0) P(0)">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Do not include reset.css - it messes up the print headers by adding 100% width to html and body -->
        <link rel="stylesheet" href="{{@root.rootPath}}atomic.css" />
        <link rel="stylesheet" href="{{@root.rootPath}}site.css" />
        <title>Scoutmaster Bucky {{>badge-name badge=badge}} Merit Badge Workbook</title>
    </head>
    <body class="M(0) P(0)">
        <table border="0" width="100%">
            <tr>
                <td>Scoutmaster Bucky {{>badge-name badge=badge}} Merit Badge Workbook</td>
                <td align="center">www.ScoutmasterBucky.com</td>
                <script>
var qs = document.location.href.split('?')[1];
var args = (qs || '').split('&');
var page = 1;
var total = 1;

for (var i = 0; i < args.length; i += 1) {
    var kv = args[i].split('=');

    if (kv[0] === 'page') {
        page = +kv[1];
    }

    if (kv[0] === 'topage') {
        total = +kv[1];
    }
}

document.write('<td align="right">Page ' + page + ' of ' + total + '</td>');
                </script>
            </tr>
        </table>
    </body>
</html>
