{{>layout-header}}

        <link rel="stylesheet" href="{{@root.rootPath}}css/site.css" />

        <title>{{>badge-name badge=badge}} Merit Badge</title>

{{>smb-layout-body}}

            <div class="P(0.4em) Bgc(--headingBackground) Jc(spe) D(f)--_p Fxd(c)--s Ai(c) D(n)--p Fw(b)">
                {{#with (lookup @root.meritBadges @root.badge)}}
                    {{#if active}}
                        <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/workbook/" class="C(gold)">Workbook and Resources</a>
                    {{/if}}
                {{/with}}
                <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/history/" class="C(gold)">Merit Badge History</a>
            </div>

            <div>
                <div class="Px(20px)--_p P(0)--p">

{{#transform-elements}}
