{{>layout-header}}

        <link rel="stylesheet" href="{{@root.rootPath}}css/site.css" />

        <title>Scoutmaster Bucky {{>badge-name badge=badge}} Merit Badge Workbook</title>

{{>smb-layout-body}}

            <div class="P(0.4em) Bgc(--headingBackground) Jc(spe) D(f)--_p Fxd(c)--s Ai(c) D(n)--p Fw(b)">
                {{> smb-merit-badge-links}}
            </div>

            <div>
                <div class="Px(20px)--_p P(0)--p">

{{#transform-elements}}
{{>workbook-common-heading}}
