{{>layout-header}}

        <link rel="stylesheet" href="{{@root.rootPath}}css/site.css" />
        <script src="{{@root.rootPath}}js/toggle-notes.js"></script>

        <title>{{>badge-name badge=badge}} Merit Badge</title>

{{>smb-layout-body}}

            <div class="P(0.4em) Bgc(--headingBackground) Jc(spe) D(f)--_p Fxd(c)--s Ai(c) D(n)--p Fw(b)">
                {{#with (lookup @root.meritBadges @root.badge)}}
                    {{#if active}}
                        <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/workbook/" class="C(gold)">Merit Badge Workbook</a>
                    {{/if}}
                {{/with}}
                <a href="{{@root.rootPath}}merit-badges/{{@root.badge}}/history/" class="C(gold)">Merit Badge History</a>
            </div>

            <div class="notesToggles">
{{#if @root.requirements}}
                <div class="D(f)--_p Jc(spe) Ai(st) D(n)--p">
                    {{>top-down-tab short="Requirements" long="Requirements Only" type="none"}}
                    {{>top-down-tab short="In-Person Notes" long="In-Person Class Prep Notes" type="inPerson"}}
                    {{>top-down-tab short="Online Notes" long="Online Class Prep Notes" type="online"}}
                </div>
{{/if}}
                <div class="P(20px)--_p P(0)--p">

{{#transform-elements}}
