{{#if shirtImage}}

{{#figure-container}}
<img src="{{shirtImage}}" class="Maw(100%)">
{{^}}
<p></p>
{{#if videoLink}}
<p>Check out today's video <a href="{{videoLink}}">here</a>.</p>
{{/if}}
{{#if shirtLink}}
<p>Today's T-Shirt is available <a href="{{shirtLink}}">here</a>.</p>
{{/if}}
<p><i><b><span class="C(red)">&lt;3</span>60 Awareness Project</b></i></p>
<p><i><b><span class="C(red)">#360Bucky</span></b></i></p>
{{/figure-container}}

{{else}}

{{#if videoLink}}
<p></p>
<p>Check out today's video <a href="{{videoLink}}">here</a>.</p>
{{/if}}
<p><i><b><span class="C(red)">&lt;3</span>60 Awareness Project</b></i></p>
<p><i><b><span class="C(red)">#360Bucky</span></b></i></p>

{{/if}}

{{/transform-elements}}

            </div>

{{>smb-layout-footer}}
