<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{rootPath}}reset.css" />
        <link rel="stylesheet" href="{{rootPath}}atomic.css" />
        <link rel="stylesheet" href="{{rootPath}}site.css" />
{{#css}}
        <link rel="stylesheet" href="{{.}}" />
{{/css}}
{{#js}}
        <script src="{{.}}"></script>
{{/js}}
{{#liveReload}}
        <script src="http://localhost:35729/livereload.js"></script>
{{/liveReload}}
    </head>
    <body class="Ovx(h) Bgc(smbPageBackground)">
        <div class="Maw(1002px) Mx(a) Bgc(smbPageForeground)">
            <div>
<script>
(function () {
    var d = new Date();
    var picture = '<img src="images/header-' + (d.getMonth() + 1) + '.jpg" class="W(100%)">';
    document.write(picture);
})();
</script>
            </div>
            <div class="Bgc(smbButtonBarBackground) D(f) Jc(se) Pt(1em) Pb(1em) D(n)--xs Fz(0.9em)--s">
                {{> smb-menu-button url="merit-badges/" text="Merit Badges" }}
                {{> smb-menu-button url="scout-ranks/" text="Scout Ranks" }}
                {{> smb-menu-button url="other-awards/" text="Other Scout Awards" }}
                {{> smb-menu-button url="memorabilia/" text="Memorabilia" }}
            </div>
            <div class="Bgc(smbButtonBarBackground) D(f) Jc(se) Pb(1em) D(n)--xs Fz(0.9em)--s">
                {{> smb-cross-link-button image="cubmaster-bob-katt/images/cbk-small.png" text="Cubmaster Bob Katt" caption="an area for Cub Scouting"}}
                {{> smb-cross-link-button image="advisor-kodi/images/ak-small.png" text="Advisor Kodi" caption="an area for Venturing"}}
                {{> smb-cross-link-button image="ss-seagal/images/sss-small.png" text="S.S. Seagal" caption="an area for Sea Scouting"}}
            </div>
            <div class="P(20px)">

{{#smb-transform-elements}}{{{contents}}}{{/smb-transform-elements}}

            </div>
        </div>
        <div id="menu" class="Bgc(smbButtonBarBackground) Pos(a) T(0) D(n) D(b)--xs C(smbButtonText) P(8px)">
            <a class="Pos(a) T(0) Start(100%) D(n) D(b)--xs Bgc(smbButtonBarBackground) C(smbButtonText) P(8px)"
                onclick="document.getElementById('menu').classList.toggle('flyout')">
                {{>hamburger-menu class="Fill(smbButtonText)"}}
            </a>

            {{> smb-menu-button url="merit-badges/" text="Merit Badges" class="Mb(8px)" }}
            {{> smb-menu-button url="scout-ranks/" text="Scout Ranks" class="Mb(8px)" }}
            {{> smb-menu-button url="other-awards/" text="Other Scout Awards" class="Mb(8px)" }}
            {{> smb-menu-button url="memorabilia/" text="Memorabilia" class="Mb(24px)" }}

            <div class="Mb(8px)">
                {{> smb-cross-link-button image="cubmaster-bob-katt/images/cbk-small.png" text="Cubmaster Bob Katt" caption="an area for Cub Scouting" }}
            </div>
            <div class="Mb(8px)">
                {{> smb-cross-link-button image="advisor-kodi/images/ak-small.png" text="Advisor Kodi" caption="an area for Venturing" }}
            </div>
            <div class="Mb(8px)">
                {{> smb-cross-link-button image="ss-seagal/images/sss-small.png" text="S.S. Seagal" caption="an area for Sea Scouting" }}
            </div>
        </div>
    </body>
</html>
