{{#unless smb}}
    {{>cross-link-button image="images/smb-small.png" text="Scoutmaster Bucky" caption="an area for Scouts BSA" width="33" height="35" url=""}}
{{/unless}}
{{#unless cbk}}
    {{>cross-link-button image="cubmaster-bob-katt/images/cbk-small.png" text="Cubmaster Bob Katt" caption="an area for Cub Scouting" width="33" height="35" url="cubmaster-bob-katt/"}}
{{/unless}}
{{#unless ak}}
    {{>cross-link-button image="advisor-kodi/images/ak-small.png" text="Advisor Kodi" caption="an area for Venturing" width="35" height="35" url="advisor-kodi/"}}
{{/unless}}
{{#unless sss}}
    {{>cross-link-button image="ss-seagal/images/sss-small.png" text="S.S. Seagal" caption="an area for Sea Scouting" width="35" height="35" url="ss-segal/"}}
{{/unless}}
{{#unless nova}}
    {{>cross-link-button image="nova/images/nova.svg" text="Nova Lab" caption="fun science awards" width="35" height="35" url="nova/"}}
{{/unless}}
