<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{@root.rootPath}}css/reset.css" />
        <link rel="stylesheet" href="{{@root.rootPath}}css/atomic.css" />
        <link rel="stylesheet" href="{{@root.rootPath}}css/menu.css" />
        <link rel="stylesheet" href="{{@root.rootPath}}css/fonts.css" />
{{#css}}
        <link rel="stylesheet" href="{{.}}" />
{{/css}}
{{#js}}
        <script src="{{.}}"></script>
{{/js}}
{{#liveReload}}
        <script src="http://localhost:35729/livereload.js"></script>
{{/liveReload}}
