    </head>
    <body class="Ovx(h) Bgc(novaPgMBg) Bgc(t)--p">
        <div class="Maw(1002px) Mx(a) Bgc(novaPgBg) Bgc(t)--p Maw(100%)--p">
            <a href="{{@root.rootPath}}nova-lab/" class="D(b) Td(n)">
                <img src="{{@root.rootPath}}nova-lab/images/nova-header.jpg" class="W(100%) H(a) D(b)" height="295" width="1002">
                <div class="Pos(a) T(0) Jc(c) Ai(c) W(60%) H(100%) D(f) C(novaHdTx) nova Fz(2em) Fz(1.6em)--p Fz(1.6em)--l Fz(1.2em)--m Fz(0.8em)--s">
                    <div class="Bgc(#000000.6) Bdrs(2em) D(f) Fxd(c) Ai(c) P(1em)">
                        <div class="">Scoutmaster Bucky's</div>
                        <div class="Fz(3em) Fw(b)">Nova Lab</div>
                    </div>
                </div>
            </a>

            <div class="Bgc(novaHd2Bg) D(f) Jc(se) Pt(0.4em) D(n)--s Fz(0.9em)--m Flw(w) D(n)--p">
                {{>nova-menu class="Mb(0.4em) Bgc(novaBtnBg)" textClass="C(novaBtnTx)"}}
            </div>

            <div class="Bgc(novaHd2Bg) D(f) Jc(se) D(n)--s Fz(0.9em)--m D(n)--p">
                {{>cross-link-buttons nova=true class="Mb(0.4em) Bgc(novaBtnBg)" textClass="C(novaBtnTx)" captionClass="C(novaBtnTx2)"}}
            </div>
