        </div>
        <div class="Maw(1002px) Mx(a) D(n)--p">
            <div>
                <img src="{{@root.rootPath}}images/footer.jpg" class="W(100%) H(a)" height="165" width="1002">
            </div>
        </div>
        <div id="menu" class="Bgc(smbHd2Bg) Pos(f) T(0) D(n) D(b)--s C(smbBtnTx) P(8px) D(n)--p">
            <a class="Pos(a) T(0) Start(100%) D(n) D(b)--s Bgc(smbHd2Bg) P(8px)"
                onclick="document.getElementById('menu').classList.toggle('flyout')"
                href="#">
                {{>hamburger-menu class="Fill(smbBtnBg)"}}
            </a>

            {{>smb-menu class="Mb(8px) Bgc(smbBtnBg)" textClass="C(smbBtnTx)"}}

            <div class="Mt(16px)"></div>

            {{>cross-link-buttons smb=true class="Bgc(smbBtnBg) Mb(8px)" textClass="C(smbBtnTx)" captionClass="C(smbBtnTx2)"}}
        </div>
    </body>
</html>
