{{!

Lots of issues appear when trying to print
* display:flex doesn't work
* border-box appears to not be included in the calculations
* borders around words are applied to all sides, not just the top

Workarounds
* display:inline-block and widths that don't add to 100%
* 1px high div instead of a border

!}}
<div class="{{>workbook-section-classes}} Lh(wbLh) P(1em) Fz(0.8em)">
    <div class="W(59%) D(ib)">
        <div class="Pt(4em) Pend(3em)">
            <div class="H(1px) Bgc(black)"></div>
            <div>{{signature}} Name</div>
        </div>
        <div class="Pt(4em) Pend(3em)">
            <div class="H(1px) Bgc(black)"></div>
            <div>{{signature}} Signature</div>
        </div>
    </div>
    <div class="W(40%) D(ib)">
        <div class="Pt(4em)">
            <div class="H(1px) Bgc(black)"></div>
            <div>Phone</div>
        </div>
        <div>
            <div class="Pt(4em) D(ib) W(65%)">
                <div class="H(1px) Bgc(black)"></div>
                <div>Date</div>
            </div>
            <div class="D(ib) W(34%) Ta(c)">
                <div class="Bdw(1px) Mx(a) W(2em) H(2em) Mb(0.5em)"></div>
                <div class="Ta(c)">{{#if checkbox}}{{checkbox}}{{else}}Approved{{/if}}</div>
            </div>
        </div>
    </div>
</div>
