/* color palette */
:root {
    --palette-black: #000;
    --palette-light: #75a343;
    --palette-dark: #336600;
    --palette-very-dark: #0f510d;
    --palette-very-light: #e5f2cb;
    --palette-severe: red;
    --palette-white: #fff;
}

/* semantic color variables for this project */
:root {
    --dnd-background: var(--palette-black);
    --index-news-text-color: var(--palette-severe);
    --flyout-menu-background: var(--palette-dark);
    --flyout-menu-icon-color: var(--palette-light);
    --flyout-menu-text-color: var(--palette-white);
    --flyout-menu-border: 2px solid var(--palette-very-dark);
    --menu-button-border: 2px solid var(--palette-very-dark);
    --menu-button-background: var(--palette-light);
    --menu-button-background-hover: var(--palette-very-light);
    --menu-button-title-color: var(--palette-white);
    --menu-button-title-color-hover: var(--palette-very-dark);
    --menu-button-subtitle-color: var(--palette-black);
    --menu-button-icon-color: var(--palette-light);
    --heading-1-border: 2px solid var(--palette-very-dark);
    --heading-1-background: var(--palette-dark);
    --heading-1-text-color: var(--palette-white);
    --heading-1-border: 2px solid var(--palette-dark);
    --heading-2-background: linear-gradient(
        90deg,
        var(--palette-dark),
        var(--palette-light),
        var(--palette-dark)
    );
    --heading-2-text-color: var(--palette-white);
    --heading-2-border: 2px solid var(--palette-dark);
    --heading-3-border-color: var(--palette-dark);
    --heading-3-text-color: var(--palette-dark);
    --page-margin-background: var(--palette-black);
    --page-background: var(--palette-white);
    --smb-text-color: var(--palette-dark);
    --tile-border: 2px solid var(--palette-very-dark);
    --tile-hover-background: var(--palette-very-light);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

p {
    margin: revert;
}

@media (min-width: 768px) {
    p {
        text-align: justify;
    }
}

body {
    overflow-x: hidden;
    background-color: var(--page-margin-background);
    font-family: 'Open Sans Regular', sans-serif;
    line-height: 1.4;
}

@media print {
    * {
        background-color: transparent;
    }

    .unprintable {
        display: none !important;
    }
}

h1 {
    background: var(--heading-1-background);
    color: var(--heading-1-text-color);
    padding: 6px 10px;
    text-transform: uppercase;
    margin: 0.6em 0;
    font-size: 2em;
    clear: both;
    border-radius: 0.2em;
    border: var(--heading-1-border);
}

@media (max-width: 480px) {
    h2 {
        font-size: 2em;
    }
}

h2 {
    margin-top: 0.9em;
    margin-bottom: 0.5em;
    background: var(--heading-2-background);
    color: var(--heading-2-text-color);
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 1.5em;
    clear: both;
    font-weight: bold;
    border-radius: 0.2em;
    border: var(--heading-2-border);
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.2em;
    }
}

h3 {
    color: var(--heading-3-text-color);
    text-transform: uppercase;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    margin: 1em auto;
    padding: 1em 0;
    border-top: 1px solid var(--heading-3-border-color);
    border-bottom: 1px solid var(--heading-3-border-color);
    width: 95%;
    clear: both;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        local('Open Sans Italic'),
        local('OpenSans-Italic'),
        url(/fonts/opensans-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
        local('Open Sans Bold Italic'),
        local('OpenSans-BoldItalic'),
        url(/fonts/opensans-bolditalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Open Sans Regular'),
        local('OpenSans-Regular'),
        url(/fonts/opensans-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('Open Sans Bold'),
        local('OpenSans-Bold'),
        url(/fonts/opensans-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Kalam'),
        local('Kalam-Regular'),
        url(/fonts/kalam.ttf) format('truetype');
}

.kalam {
    font-family: 'Kalam', sans-serif;
}

@font-face {
    font-family: 'Offside';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Offside'),
        local('Offside-Regular'),
        url(/fonts/offside.ttf) format('truetype');
}

.offside {
    font-family: 'Offside', sans-serif;
}
