:root {
    --accentBackground: #ffff99;
    --buttonBackground: #0060b7;
    --buttonText: #fd9600;
    --buttonText2: #bbbbbb;
    --headingBackground: #0060b7;
    --heading2Background: #50d7f7;
    --headingText: #fd9600;
    --heading2Text: #ffffff;
    --heading3Text: #0060b7;
    --pageBackground: #ffffff;
    --pageMarginBackground: #000000;
    --tabBackground: #cc9900;
    --themeBorder: #0060b7;
    --themeText: #0060b7;
}
