---
import type { MarkdownLayoutProps } from 'astro';
import DefaultLayout from './default-layout.astro';
import { getEntry } from 'astro:content';

interface Props {
    badge: string;
}

const { badge } = Astro.props.frontmatter || Astro.props
const info = (await getEntry('historicalMeritBadges', badge))?.data;
---
<DefaultLayout title={`${ info.name } Merit Badge History`}>
    <h1>{ info.name } Merit Badge History</h1>

    <slot />
</DefaultLayout>
