---
import DefaultLayout from '~/layouts/default-layout.astro';
import OtherAwardBucky from '~/components/other-award-bucky.astro';
import Requirements from '~/components/requirements.astro';
import ScaledContent from '~/components/scaled-content.astro';
import { getEntry } from 'astro:content';

interface Props {
    award: string;
}

const { award } = Astro.props.frontmatter || Astro.props;
const awardInfo = (await getEntry('otherAwards', award))?.data;
---

<DefaultLayout title={awardInfo.name}>
    <ScaledContent align="center">
        <OtherAwardBucky award={award} />
    </ScaledContent>

    <h3>{awardInfo.name}</h3>

    <slot />

    <h2>Requirements</h2>

    <Requirements type="otherAwardRequirements" entry={award} />
</DefaultLayout>
