---
import DefaultLayout from '~/layouts/default-layout.astro';
import Requirements from '~/components/requirements.astro';
import ScaledContent from '~/components/scaled-content.astro';
import ScoutRankBucky from '~/components/scout-rank-bucky.astro';
import type { MarkdownLayoutProps } from 'astro';
import { getEntry } from 'astro:content';

type Props = MarkdownLayoutProps<{
    rank: string;
}>;

const rank = Astro.props.rank;
const rankInfo = await getEntry('scoutRanks', rank);
---

<DefaultLayout title={awardInfo.title}>
    <ScaledContent align="center">
        <ScoutRankBucky rank={rank} />
    </ScaledContent>

    <h3>{awardInfo.name}</h3>

    <slot />

    <h2>Requirements</h2>

    <Requirements type="scoutRankRequirements" entry={rank} />
</DefaultLayout>
