---
import DefaultLayout from '~/layouts/default-layout.astro';
import Requirements from '~/components/requirements.astro';
import ScaledContent from '~/components/scaled-content.astro';
import ScoutRankBucky from '~/components/scout-rank-bucky.astro';
import { getEntry } from 'astro:content';

interface Props {
    rank: string;
}

const { rank } = Astro.props.frontmatter || Astro.props;
const rankInfo = (await getEntry('scoutRanks', rank))?.data;
---

<DefaultLayout title={rankInfo.title}>
    <ScaledContent align="center">
        <ScoutRankBucky rank={rank} />
    </ScaledContent>

    <h3>{rankInfo.name}</h3>

    <slot />

    <h2>Requirements</h2>

    <Requirements type="scoutRankRequirements" entry={rank} />
</DefaultLayout>
