---
import DefaultLayout from './default-layout.astro';
import Requirements from '~/components/requirements.astro';
import ScaledContent from '~/components/scaled-content.astro';
import { getEntry } from 'astro:content';

interface Props {
    testLab: string;
}

const { testLab } = Astro.props.frontmatter || Astro.props;
const requirements = (await getEntry('testLabRequirements', testLab))?.data;
const info = (await getEntry('testLabs', testLab))?.data;
const updatedDates = (await getEntry('updated', 'test-labs'))?.data;
const updatedDate = new Date(updatedDates[testLab]);
const updatedDateStr = updatedDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
});

const related = new Set();

function checkRequirementsForResources(reqs) {
    for (const req of reqs) {
        if (req.resources && req.resources.length > 0) {
            return true;
        }

        if (req.children) {
            if (checkRequirementsForResources(req.children)) {
                return true;
            }
        }
    }

    return false;
}

let hasResources = checkRequirementsForResources(requirements);
---
<style>
.requirements-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .requirements-header {
        align-items: flex-start;
        flex-direction: column;
    }
}

.updated {
    font-size: 0.4em;
    font-weight: normal;
    text-transform: none;
    font-style: italic;
}

@media (max-width: 480px) {
    .updated-break {
        display: none;
    }
}

.gap-bottom {
    margin-bottom: 0.5em;
}

.survey {
    background-color: var(--palette-dark);
    border: 4px solid var(--palette-dark);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 2em;
    text-decoration: none;
}
</style>
<DefaultLayout title="{ info.name } Test Lab Badge">
    <h1>{ info.name }</h1>

    <div class="center unprintable">
        <ScaledContent>
            <img src={info.image} alt="Test Lab Badge" class="wide" />
        </ScaledContent>
    </div>

    <h2 class="requirements-header">
        <div>{ info.name } Requirements</div>
        <div class="updated">
            Current Scouts BSA requirements<br class="updated-break" />
            as of { updatedDateStr }
        </div>
    </h2>

    <p>This Test Lab offering is valid until { info.expires }.</p>

    {hasResources && (
        <resources-toggle class="gap-bottom"></resources-toggle>
    )}

    <Requirements type="testLabRequirements" entry={testLab} />

    <div class="center">
        <a href={info.survey} target="_blank" rel="noopener" class="survey">
            Go To Survey
        </a>
    </div>
</DefaultLayout>
