---
import DefaultLayout from '~/layouts/default-layout.astro';
import TileWrapper from '~/components/tile-wrapper.astro';
import TestLabTile from '~/components/test-lab-tile.astro';
import { getCollection } from 'astro:content';

const testLabs = await getCollection('testLabs');
---

<DefaultLayout title="Scouting America's Test Lab">
    <h1>Scouting America's Test Lab</h1>

    <p>
        The Scouts BSA Test Lab is an exciting way to help in the development of
        fun and interesting new topics unique to the Scouts BSA program. The
        requirements for each badge have the look and feel of merit badges, but
        instead of a printed pamphlet, you will find links to digital resources
        to help you complete the requirements.
    </p>

    <h2>What to do</h2>

    <p>
        You must work with a registered adult volunteer of your choosing. After
        completion of all requirements, you must take a short survey which will
        lead you to a certificate of completion.
    </p>

    <p>
        If enough surveys show Scouts enjoyed these potential new badges, we
        hope to introduce them as official merit badges in the future. If you
        complete a Test Lab badge and it becomes an official merit badge, you
        will be credited with having earned that badge!
    </p>

    <p>
        <strong
            >You decide if this activity becomes an official Merit Badge of
            Scouting America.</strong
        >
        By filling out the survey at the end of the requirements, you are voting
        for or against that topic becoming a Merit Badge. You can also suggest changes
        to make the merit badge more engaging. The fate of this potential merit badge
        rests in your hands.
    </p>

    <h2>Test Lab Rules</h2>

    <ol>
        <li>
            Any registered adult can work with Scouts on these potential new
            badges.
        </li>
        <li>
            Badges will have a clearly stated time period by which all
            requirements must be completed.
        </li>
        <li>
            After the expiration date, the badge will be removed from the Test
            Lab and the National Council will evaluate if the subject should be
            added as a new merit badge.
        </li>
        <li>
            When all requirements are finished successfully, a survey will be
            available to gather opinions on the badge. Scouts will then be able
            to access the certificate of completion which must be signed and
            dated by the registered adult they have worked with.
        </li>
        <li>
            Should the badge be approved as a new merit badge, Scouts can be
            credited as having earned that badge if they present their signed
            and dated certificate to their unit.
        </li>
        <li>
            Scouts completing the requirements after the expired time period
            will not be recognized as having earned the badge.
        </li>
    </ol>

    <h2>Test Lab Offerings</h2>

    <TileWrapper>
        {testLabs.map((detail, id) => <TestLabTile test-lab={id} />)}
    </TileWrapper>
</DefaultLayout>
